<!-- 
add_point_role.html
This page will be used for adding roles to access points via the admin panel UI 
-->
{% extends "base.html" %}

{% block title %}Add Access Permission{% endblock %}

{% block content %}
            <h1 class="text-center mb-4">Add Access point Role</h1>
            <div class="container col-md-6 p-4 bg-secondary rounded shadow">

                {% if access_points %}
                <div class="mb-3">
                    <form method="POST">
                        <label class="form-label">Access Point:</label>
                        <select class="form-select" name="access_point" required>
                            {% for point in access_points %}
                            <option>{{ point[0] }}</option>
                            {% endfor %}
                        </select>
                    

                        <div class="mb-3">
                            <label class="form-label">Role:</label>
                            <select class="form-select" name="role" required>
                                <option>Engineer</option>
                                <option>Technician</option>
                                <option>Supervisor</option>
                                <option>Janitor</option>
                            </select>
                        </div>

                        <button type="submit" name="insert" class="btn btn-success">Add Role</button>
                    </form>
                    {% else %}
                        <p>No Access Points Configured</p>
                    {% endif %}
                <!-- </div>
                <div class="text-center">
                <a href="{{ url_for('access_points') }}" class="btn btn-secondary">Back</a>
                </div> -->
            </div>
            
        </div>
{% endblock %}
