<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Admin Panel - Users{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Access Control Admin Panel</h1>

<div class="container col-md-8 p-4 bg-secondary rounded shadow">
    <div class="table-responsive">
        <table class="table table-dark table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user[0][-10:] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="text-center mt-4">
    <a href="{{ url_for('add_user') }}" class="btn btn-primary">Enter New User</a>
    <a href="{{ url_for('access_points') }}" class="btn btn-primary">Modify Access Points</a>
    <a href="{{ url_for('logs') }}" class="btn btn-primary">View Logs</a>
</div>
{% endblock %}
