<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Access Logs{% endblock %}

{% block content %}

<h1 class="text-center mb-4">Access Logs</h1>

<div class="container col-md-8 p-4 bg-secondary rounded shadow">
    <div class="table-responsive">
        <table class="table table-dark table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Reader ID</th>
                    <th>Result</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            {% if results %}
                <tr>
                    {% for result in results %}
                    <td>{{result[0][-10:]}}</td>
                    <td>{{result[1]}}</td>
                    <td>{{result[2]}}</td>
                    <td>{{result[3]}}</td>
                    <td>{{result[4]}}</td>
                    <td>{{result[5]}}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
<div class="text-center mt-3">
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Back</a>
</div>

<!-- JS to refresh page every 5 seconds to get new logs -->
<script>
    setTimeout(function () {
        window.location.reload();
    }, 5000); 
</script>
{% endblock %}